<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.example.demo.dao.UserDao">
    <sql id="BASE_TABLE">
    user
  </sql>
    <sql id="DEFAULT_COLUMN">
        attr1,attr2,attr3,update_by,update_date,create_date,create_by,
    </sql>
    <sql id="BASE_COLUMN">
    <include refid="DEFAULT_COLUMN"/>
    id,username,password,phone,realname,email,status,role
  </sql>
    <select id="findUsersByPage" resultType="com.example.demo.entity.User">
        select * from t_user
        <where>
            <trim suffixOverrides="and">
                <if test="username !=null and username !=''">
                    username like '%${username}%' and
                </if>
                <if test="email !=null and email !=''">
                    email like '%${email}%' and
                </if>
                <if test="phone !=null and phone !=''">
                    phone like '%${phone}%' and
                </if>
                <if test="status !=null and status !=''">
                    status = #{status} and
                </if>
                <if test="realname !=null and realname !=''">
                    realname like '%${realname}%'
                </if>
            </trim>
        </where>
    </select>
</mapper>
