<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.example.demo.dao.UserDao">
    <select id="findUsersByPage" resultType="com.example.demo.entity.User">
        select * from t_user
        <where>
            <trim suffixOverrides="and">
                <if test="username !=null and username !=''">
                    username like '%${username}%' and
                </if>
                <if test="email !=null and email !=''">
                    email like '%${email}%' and
                </if>
                <if test="phone !=null and phone !=''">
                    phone like '%${phone}%' and
                </if>
                <if test="status !=null and status !=''">
                    status = #{status} and
                </if>
                <if test="realname !=null and realname !=''">
                    realname like '%${realname}%'
                </if>
            </trim>
        </where>
    </select>

    <update id="update" parameterType="com.example.demo.entity.User">
        update t_user
        <set>
            <trim suffixOverrides=",">
                <if test="username !=null and username !=''">
                    username =#{username} ,
                </if>
                <if test="email !=null and email !=''">
                    email =#{email} ,
                </if>
                <if test="phone !=null and phone !=''">
                    phone =#{phone} ,
                </if>
                <if test="status !=null and status !=''">
                    status = #{status} ,
                </if>
                <if test="roleId !=null and roleId !=''">
                    role_id = #{roleId} ,
                </if>
                <if test="realname !=null and realname !=''">
                    realname =#{realname} ,
                </if>
                <if test="password !=null and password !=''">
                    password =#{password} ,
                </if>
                update_date =#{updateDate} ,
                update_by =#{updateBy} ,
            </trim>
        </set>
        <where>
            id= #{id}
        </where>
    </update>
</mapper>
